/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variáveis */
:root{
    --prin: #62d033;
    --secun: #171717;
    --fundo: #0a0a0a;
    --deta: #a61914;
    --letras: #ECE8E1;
}

/* Configurações */
*{
    margin: 0;
    padding: 0;
    outline: 0;

    box-sizing: border-box;
    
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 62.5%;
}

/* Geral */

input,
textarea{
    background-color: transparent;

    border: none;

    caret-color: var(--prin);
}

button{
    display: flex;

    background-color: var(--secun);

    color: var(--letras);
    font-size: 2.6rem;
    font-weight: 700;
    
    border-radius: 7px;

    border: none;

    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

/* Main */
body{
    display: flex;

    background-color: var(--fundo);

    justify-content: center;
}

/* aside{
    display: flex;

    height: 100vh;
    width: 80px;

    border-right: 1px solid var(--det);

    flex-direction: column;
}

aside div{
    flex: 1;
    display: flex;

    background-color: var(--fundo);

    justify-content: center;
    align-items: center;
}

aside div:hover{
    cursor: pointer;
} */

#mnCalculadora{
    display: flex;

    height: 100vh;
    width: 720px;

    background-color: var(--fundo);

    padding: 10px;

    flex-direction: column;   
}

#mnCalculadora #sctDisplay{
    flex: 1;
    display: flex;
    
    flex-direction: column;

    overflow: hidden;
}

#mnCalculadora #sctDisplay #taResultado,
#mnCalculadora #sctDisplay #taOperacao{
    height: 50%;
    width: 100%;

    color: var(--letras);
    font-size: 5rem;
    font-weight: 300;

    text-align: end;

    resize: none;

    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    overflow: hidden;
}

#mnCalculadora #sctButtons{
    display: flex;

    height: fit-content;
    width: 100%;

    flex-direction: column;
}

/* #mnCalculadora #sctButtons #dvCientifica{
    flex: 1;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 60px);
    grid-gap: 10px;
} */

#mnCalculadora #sctButtons #dvGeral{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px;
    grid-gap: 10px;
    grid-template-areas: ". . c backspace";

    margin-bottom: 10px;
}

#mnCalculadora #sctButtons #dvGeral #btnZerar{
    grid-area: c;

    color: var(--deta);
    font-weight: 900;
}

#mnCalculadora #sctButtons #dvGeral #btnBackspace{
    grid-area: backspace;
}

#mnCalculadora #sctButtons #dvGeral #btnBackspace img{
    height: 30px;
}

#mnCalculadora #sctButtons #dvPadrao{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 60px);
    grid-gap: 10px;
}

#mnCalculadora #sctButtons #dvPadrao .btnEsp{
    color: var(--prin);
    font-size: 3.6rem;  
    font-weight: 800;
}

#mnCalculadora #sctButtons #dvPadrao #btnVirgula #imgVirgula{
    height: 15px;
}

#mnCalculadora #sctButtons #dvPadrao #btnIgual{
    background-color: var(--prin);

    color: var(--secun);
    font-size: 5rem;
    font-weight: 800;
}